body {
    background-color: black;
    color: white;
    /* text-align: center; */
}

.main-container {
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>div {
    /* flex: 1; */
    border: 1px dashed red;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.cell {
    border: 1px solid white;
    font-size: 100px;
}